<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>ago.alfred-todo-to-orgmode</string>
	<key>connections</key>
	<dict>
		<key>0CBAD592-FA38-441B-977C-7CF0489F909B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED716DC1-030F-4216-875E-A795905D6B18</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0CBAD592-FA38-441B-977C-7CF0489F909B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BDE1908D-A596-4E64-8EC9-E0B45830589C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>13734DD2-23C2-489A-9D4B-8638EFF5CEFB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CE3708AA-1D2C-4DA9-8AE8-7AB93F64FC30</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BDE1908D-A596-4E64-8EC9-E0B45830589C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alexander Gogl</string>
	<key>description</key>
	<string>Create orgmode todos or headlines from todo and note strings.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>org-mode-capture</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>TODO</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>ED716DC1-030F-4216-875E-A795905D6B18</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>entry = "{query}"

from orgmode_entry import OrgmodeEntry

org = OrgmodeEntry()
# Use an absolute path
org.inbox_file = '/Users/Alex/Documents/Planung/Planning/Inbox.org'
org.delimiter = ':: '
org.add_creation_date = True  # enable to add a creation date
org.replace_relative_dates = True  # enable to convert relative dates into orgmode dates

entry = 'TODO ' + entry

message = org.add_entry(entry)

print(message)</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0CBAD592-FA38-441B-977C-7CF0489F909B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>todo</string>
				<key>subtext</key>
				<string>Add a Todo to org's Inbox</string>
				<key>text</key>
				<string>Todo</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Note</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>13734DD2-23C2-489A-9D4B-8638EFF5CEFB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>entry = "{query}"

from orgmode_entry import OrgmodeEntry

org = OrgmodeEntry()
# Use an absolute path
org.inbox_file = '/Users/Alex/Documents/Planung/Planning/Inbox.org'
org.delimiter = ':: '
org.add_creation_date = True  # enable to add a creation date
org.replace_relative_dates = True  # enable to convert relative dates into orgmode dates

message = org.add_entry(entry)

print(message)
</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BDE1908D-A596-4E64-8EC9-E0B45830589C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>note</string>
				<key>subtext</key>
				<string>Add a Note to org's Inbox</string>
				<key>text</key>
				<string>Note</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CE3708AA-1D2C-4DA9-8AE8-7AB93F64FC30</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>See https://github.com/alexandergogl/alfred-org-mode-workflow.</string>
	<key>uidata</key>
	<dict>
		<key>0CBAD592-FA38-441B-977C-7CF0489F909B</key>
		<dict>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>13734DD2-23C2-489A-9D4B-8638EFF5CEFB</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>BDE1908D-A596-4E64-8EC9-E0B45830589C</key>
		<dict>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>CE3708AA-1D2C-4DA9-8AE8-7AB93F64FC30</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>ED716DC1-030F-4216-875E-A795905D6B18</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://issuu.com/alex.gogl</string>
</dict>
</plist>
